:root {
    --bs-primary: rgb(10, 36, 99);
    --bs-secondary: rgb(25,102,179);
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}


.bg-secondary {
    background-color: var(--bs-secondary) !important;
}

.carousel-inner {
    height: 550px; /* Adjust height as needed */
}
.carousel-item {
    height: 100%; /* Make sure items take full height */
    max-height: 450px;
}

.card-img-top {
    height: 190px;
    object-fit: cover;
    position: center;
}
